<form action="/metrics" method="post">
  <div>
    <label for="metric_date">Date</label>
    <input type="datetime-local" name="metric[datetime]" id="metric_date" value="<%= Time.now.strftime('%Y-%m-%dT%H:%M:%S') %>">
  </div>

  <div>
    <label for="metric_kind">Mesure :</label>
    <select name="metric[kind]" id="metric_kind" size="1">
      <option value="edf_hc">EDF - Heures Creuses</option>
      <option value="edf_hp">EDF - Heures Pleines</option>
      <option value="eau">Eau</option>
    </select>
  </div>

  <div>
    <label for="metric_value">Valeur</label>
    <input type="number" name="metric[value]" id="metric_value" value="">
  </div>

  <input type="submit" name="" value="Valider">

</form>